body{
  margin:0 auto;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a:hover svg {
  /* background: #5354E4; */
 border-color: white;
}
.cards {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
}
.search{
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
}
.form{
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
}
.input{
  border: 1px solid #BEBEBE;
}
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #fefefe;
}
.inp{
  background: #FFFFFF;
box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
border-radius: 8px;
}

@media (min-width: 640px) {
  table {
    display: inline-table !important;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}

td:not(:last-child) {
  border-bottom: 0;
}

th:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, .1);
}
